body {
	padding-top: 50px;
}

input {
	display: block;
}

ul.bounties > li {padding-bottom: 1em;}

ul.bounties .edit {
	font-size: 70%;
}

ul.tags, ul.tags li {
	display: inline;
	margin: 0;
	padding: 0;
}

#tag-cloud {
	text-align: center;
}

#tag-cloud a {
	margin: 0 0.2em;
}

.tag-cloud0 { font-size: 100%; }
.tag-cloud1 { font-size: 120%; }
.tag-cloud2 { font-size: 140%; }
.tag-cloud3 { font-size: 160%; }
.tag-cloud4 { font-size: 180%; }
.tag-cloud5 { font-size: 200%; }

#id_honeypot {
    display: none;
}

input[type="checkbox"] {
	display: inline-block;
}

.submit-buttons input[type="submit"] {
	width: 100px;
	display: inline-block;
}

/* Action hints are slidedowns, hidden by default */
.bitcoin-action-hint {
    display: none;
}

/* Show dashed underlining so people get a hint it's clickable */
.bitcoin-address-container .bitcoin-address {
    border-bottom: 1px dashed gray;
    cursor: pointer;
}

/* Center QR code image */
.bitcoin-address-qr-container > img,
.bitcoin-address-qr-container > canvas {
    margin: 0 auto;
}

/* bitcoinprices.js -  for bitcoinprices, donation nominated in USD */
.clickable-price {
    cursor: pointer;
    border-bottom: 1px #888 dashed;
}