{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Bountyful Coins - User Login" %}{% endblock %}
{% block head_title %}{% trans "User Login" %}{% endblock head_title %}

{% block content %}
	{% if form.errors %}
		<p>{% trans "Your username and password didn't match.
			Please try again." %}</p>
	{% endif %}

	<div class="row">
		<div class="col-lg-6 col-md-8">
			<div class="well">
				<form method="post" action="." class="form-horizontal" role="form">
					{% csrf_token %}
					<input type="hidden" name="next" value="/" />

					{% bootstrap_form form layout='horizontal' field_class='col-lg-10' label_class='col-lg-2' %}

					{% buttons %}
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary">
								{% trans "Login" %}
							</button>
						</div>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}