{% extends "base.html" %}
{% load i18n comments %}

{% block title %}{% trans "Leave a comment" %}{% endblock title %}

{% block head_title %}{% trans "Leave a comment" %}{% endblock head_title %}

{% block content %}
	<div class="well">
		<h3>{% trans "Reply to" %}:</h3>
		<dl id="parent-comment" style="background: #fff; padding: 10px; border: 1px solid #ccc; border-radius: 4px">
			<dt id="c{{ comment.id }}">
				{{ comment.submit_date }}&nbsp;-&nbsp;{{ comment.name }}
			</dt>
			<dd>
				<p>{{ comment.comment }}</p>
			</dd>
		</dl>
		<div id="comment-form" style="padding-bottom: 50px;">
			{% include "comments/form.html" with redirect_url=comment.get_absolute_url object=comment %}
		</div>
	</div>
{% endblock content %}
