{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About Bountyful Coins{% endblock %}
{% block head %}About Bountyful Coins{% endblock %}
{% block content %}
<p>Bountyful Coins is an open-sourced Bounty listing application designed to organize and promote bounties on bitcoin and all other altocins</p>
<p>Bountyful Coins <a href="https://github.com/bountyful/bountyfulcoins">accepts pull requests</a> on Github to improve the platform functionality.<br />
<p>Bountyful Coins generates revenue via featured and promoted Bounties. Email us at <img src="{% static "/site_media/images/promotion_email_address.jpg" %}"></a> to learn how we can get your bounties filled faster.
{% endblock %}