{% load staticfiles bootstrap3 i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Bountyful Coins |{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static "/site_media/style.css" %}"
			type="text/css" />
	{% bootstrap_css %}
	<link rel="stylesheet" href="{% static "/site_media/bootstrap.min.css" %}"
</head>
<body>
	{% include "top_navigation.html" %}
	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="col-lg-6">
					{% block head %}
						{{ block.super }}
						<h1>{% block head_title %}{% endblock head_title %}</h1>
					{% endblock %}
				</div>
				
				<div class="col-lg-6">				
					{% block extra_head %}{% endblock %}
				</div>
			</div>
		</div>
		{% block content %}{% endblock %}
	</div>

	{# scripts go here to not block dom & css loading #}
	<script type="text/javascript" src="{% static "/site_media/jquery.js" %}"></script>
	{# <script type="text/javascript" src="{% static "/site_media/bitcoinaddress-bundle.js" %}"></script> #}
	<script type="text/javascript" src="{% static "/site_media/bitcoinaddress-bundle.min.js" %}"></script>
	{% block external %}{% endblock %}
	{% bootstrap_javascript %}
</body>
</html>