{% extends "base.html" %}
{% load i18n comments comments_xtd %}

{% block title %}{% trans "Bounty" %} - {{object.title}}{% endblock title %}
{% block head_title %}{% trans "Bounty Details" %}{% endblock head_title %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h3>{{ object.title }}</h3></div>
  <div class="panel-body">
	<p>{% trans "Url" %}: <a href="{{ object.link }}">{{ object.link }}</a></p>
	<p>{% trans "Amount" %}: {{object.amount}} {{ object.currency }}</p>
	<p>{% trans "Keywords" %}: {{object.tags.all|join:", "|default:"None." }}</p>
	{% if object.is_featured %}
		<p>{% trans "This bounty is featured" %}</p>
	{% endif %}
	{% if object.shared_date %}
		<p>{% trans "Date posted" %}: {{ object.shared_date }}</p>
	{% endif %}
	{% if user == object.user %}
		{% trans "As the owner of this bounty, you may" %} <a href="{% url 'change_bounty' object.id %}">{% trans "edit it here" %}.</a>
	{% else %}
		<p>{% trans "Posted by" %}: {{ object.user }}</p>
	{% endif %}
	<hr>

	{% url 'bounty_details' object.id as bonty_url %}
	<div style="padding-bottom: 50px;">
		{% include "comments/form.html" with redirect_url=bonty_url %}
		{% render_comment_list for object %}
	</div>
  </div>
</div>

{% endblock %}
