{% extends "base.html" %}
{% block title %}Welcome to Bountyful Coins{% endblock %}
{% block head %}Welcome to Bountyful Coins{% endblock %}
{% block content %}
	{% if user.username %}
		<p>Welcome {{ user.username }}!
			Here you can find and share bounties for bitcoins and altcoins!</p>
	{% else %}
		<p> Welcome guest!
			You need to <a href="{% url 'auth_login' %}">login</a>
			before you can post and share bounties. </p>
	{% endif %}
	<h2> Featured Bitcoin and altcoin Bounties Posted </h2>
	{% include "shared_bounty_list.html" %}
{% endblock %}