{% extends "base.html" %}

{% block title %}Welcome to Bountyful Coins{% endblock title %}
{% block head %}Welcome to Bountyful Coins{% endblock head %}

{% block content %}
	{% if user.username %}
		<p>Welcome {{ user.username }}!
			Here you can find and share bounties for bitcoins and altcoins!</p>
	{% else %}
		<p> Welcome guest!
			You need to <a href="{% url 'auth_login' %}">login</a>
			before you can post and share bounties. </p>
	{% endif %}
	<STRONG>boun·ty</STRONG> (noun) 
	<br>Definition: good things that are given or provided freely and in large amounts.
	<hr>
	{% include "total_bounties.html" %}
	<hr>
	{% include "featured_bounty_list.html" %}
	<hr>
	{% include "shared_bounty_list.html" %}
{% endblock content %}