{% extends "base.html" %}
{% load i18n staticfiles bootstrap3 %}

{% block external %}
	<script type="text/javascript"
		src="{% static "/site_media/search.js" %}"></script>
{% endblock %}
{% block title %}{% trans "Search Bounties" %}{% endblock %}
{% block head_title %}{% trans "Search Bounties" %}{% endblock head_title %}
{% block content %}
<div class="well" style="max-width: 550px;">
	<form id="search-form" method="get" action=".">
	{% bootstrap_form form %}
	{% buttons %}
		<div>
			<button type="submit" class="btn btn-primary">
				{% trans "Search" %}
			</button>
		</div>
	{% endbuttons %}
</form>
</div>
<div id="search-results">
	{% if show_results %}
		{% include "bounty_list.html" %}
	{% endif %}
</div>
{% endblock %}