{% load comments %}
{% get_comment_form for object as form %}
{% if user.is_authenticated %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    {{ form.reply_to }}
    <input type="hidden" name="next" value="{{ redirect_url }}" />
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
{% else %}
    <p>Please <a href="{% url 'auth_login' %}?next={{redirect_url}}">log in</a> to leave a comment.</p>
{% endif %}